<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Voice eXeSystem" lan="LAN_PLUGIN_VOI_NAME" version="1.0" date="2015-02-15" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="http://defiantz.org" />
	<summary lan="">Theme ShortCode Generator for TeamSpeak3, Ventrilo, or Mumble</summary>
	<description lan="">Save TeamSpeak3/Ventrilo/Mumble Server Information and enables the user to add a join button to that server on the theme's shortcode area.</description>
	<keywords>
		<word>gaming</word>
		<word>voicecomms</word>
	</keywords>
	<category>tools</category>
	<copyright>LaocheXe</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	
</e107Plugin>
