@charset "UTF-8";

@font-face {
  font-family: "voice-exe-font";
  /*
  src:url("http://defiantz.org/e107_plugins/voice/fonts/voice-exe-font.eot");
  src:url("http://defiantz.org/e107_plugins/voice/fonts/fonts/voice-exe-font.eot?#iefix") format("embedded-opentype"),
    url("http://defiantz.org/e107_plugins/voice/fonts/fonts/voice-exe-font.woff") format("woff"),
    url("http://defiantz.org/e107_plugins/voice/fonts/fonts/voice-exe-font.ttf") format("truetype"),
    url("http://defiantz.org/e107_plugins/voice/fonts/fonts/voice-exe-font.svg#voice-exe-font") format("svg");
	*/
	/*
  src:url("https://fontastic.s3.amazonaws.com/zJpTUY3o6Cjvk2n9CJBdyE/fonts/1427755787.eot");
  src:url("https://fontastic.s3.amazonaws.com/zJpTUY3o6Cjvk2n9CJBdyE/fonts/1427755787.eot?#iefix") format("embedded-opentype"),
    url("https://fontastic.s3.amazonaws.com/zJpTUY3o6Cjvk2n9CJBdyE/fonts/1427755787.woff") format("woff"),
    url("https://fontastic.s3.amazonaws.com/zJpTUY3o6Cjvk2n9CJBdyE/fonts/1427755787.ttf") format("truetype"),
    url("https://fontastic.s3.amazonaws.com/zJpTUY3o6Cjvk2n9CJBdyE/fonts/1427755787.svg#1427755787") format("svg");
  font-weight: normal;
  font-style: normal;
  */
  src:url("fonts/voice-exe-font.eot");
  src:url("fonts/voice-exe-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/voice-exe-font.woff") format("woff"),
    url("fonts/voice-exe-font.ttf") format("truetype"),
    url("fonts/voice-exe-font.svg#untitled-font-3") format("svg");
}

[data-icon]:before {
  font-family: "voice-exe-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "voice-exe-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ble:before {
  content: "m";
}
.icon-vent:before {
  content: "v";
}
.icon-ts3:before {
  content: "t";
}
.icon-discord:before {
  content: "d";
}

.dropdown-menu > a {
	display: block;
	padding: 3px 20px;
    padding-top: 3px;
    padding-bottom: 3px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
